<p>Olá, <%= @resource.email %>!</p>

<p>Foi pedido um resgate da password. Para continuar o processo, clique no link abaixo.</p>

<p><%= link_to 'Alterar password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se não pediu este resgate, ignore esta mensagem.</p>
<p>A password não será alterada se não seguir o link.</p>
